name: Build

on:
  push:
    branches: main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout Code
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/build-push-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with: 
          username: ${{ secrets.DOCKER_USERNAME }} 
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and Push
        uses: docker/build-push-action@v2
        with: 
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: pipseed/docker-home-molecule:latest
